In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\www\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\www\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\www\anaconda3\lib\site-packages (from selenium) (0.23.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\www\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\www\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: attrs>=20.1.0 in c:\users\www\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\www\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\www\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\www\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\www\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\www\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\www\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\www\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\www\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\www\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
import pandas as pd 
from selenium import webdriver 
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time 
import requests
from bs4 import BeautifulSoup

In [27]:
driver = webdriver.Chrome()

In [28]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

In [ ]:
# Question 1

In [61]:
name = []
table_data = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[1]')
for tr in table_data:
    name.append(tr.text)

artist = []
table_data = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[2]')
for tr in table_data:
    artist.append(tr.text)    
views = []
table_data = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[3]')
for tr in table_data:
    views.append(tr.text) 
date = []
table_data = driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter"]/tbody/tr/td[4]')
for tr in table_data:
    date.append(tr.text)

In [64]:
data = pd.DataFrame({"Name":name,"Artist":artist,"Views":views,"Upload_date":date})

In [65]:
data

,Name,Artist,Views,Upload_date
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,13.78,"June 17, 2016"
1,"""Despacito""[9]",Luis Fonsi,8.33,"January 12, 2017"
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,6.85,"October 8, 2016"
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,6.52,"May 2, 2018"
4,"""Shape of You""[19]",Ed Sheeran,6.15,"January 30, 2017"
5,"""See You Again""[22]",Wiz Khalifa,6.11,"April 6, 2015"
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,5.74,"May 24, 2018"
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,5.59,"March 6, 2014"
8,"""Uptown Funk""[29]",Mark Ronson,5.10,"November 19, 2014"
9,"""Learning Colors ‚Äì Colorful Eggs on a Farm""[30]",Miroshka TV,5.03,"February 27, 2018"
10,"""Gangnam Style""[31]",Psy,4.98,"July 15, 2012"
11,"""Masha and the Bear ‚Äì Recipe for Disaster""[36]",Get Movies,4.57,"January 31, 2012"
12,"""Dame Tu Cosita""[37]",Ultra Records,4.49,"April 5, 2018"
13,"""Axel F""[38]",Crazy Frog,4.19,"June 16, 2009"
14,"""Sugar""[39]",Maroon 5,3.97,"January 14, 2015"
15,"""Counting Stars""[40]",OneRepublic,3.93,"May 31, 2013"
16,"""Roar""[41]",Katy Perry,3.92,"September 5, 2013"
17,"""Baa Baa Black Sheep""[42]",Cocomelon - Nursery Rhymes,3.86,"June 25, 2018"
18,"""Waka Waka (This Time for Africa)""[43]",Shakira,3.80,"June 4, 2010"
19,"""Lakdi Ki Kathi""[44]",Jingle Toons,3.78,"June 14, 2018"
20,"""Sorry""[45]",Justin Bieber,3.74,"October 22, 2015"
21,"""Thinking Out Loud""[46]",Ed Sheeran,3.70,"October 7, 2014"
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.65,"January 26, 2018"
23,"""Dark Horse""[48]",Katy Perry,3.64,"February 20, 2014"
24,"""Perfect""[49]",Ed Sheeran,3.61,"November 9, 2017"
25,"""Shree Hanuman Chalisa""[50]",T-Series Bhakti Sagar,3.57,"May 10, 2011"
26,"""Let Her Go""[51]",Passenger,3.57,"July 25, 2012"
27,"""Faded""[52]",Alan Walker,3.56,"December 3, 2015"
28,"""Girls Like You""[53]",Maroon 5,3.53,"May 31, 2018"
29,"""Lean On""[54]",Major Lazer Official,3.51,"March 22, 2015"

In [67]:
driver.quit()

In [68]:
# Question 2

In [98]:
driver = webdriver.Chrome()

In [99]:
driver.get('https://www.bcci.tv/')

In [100]:
fixture = driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
fixture.click()

In [101]:
series = []
place = []
date = []
time = []

series_data = driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series_data[1:8]:
    series.append(i.text)
    
place_data = driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place_data:
    place.append(i.text)
    
date_data = driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date_data[1:8]:
    date.append(i.text)
    
time_data = driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time_data[1:8]:
    time.append(i.text)

In [102]:
match = pd.DataFrame({"Series":series,"Place":place,"Date":date,"Time":time})

In [105]:
match

,Series,Place,Date,Time
0,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","28 DECEMBER, 2023",2:00 PM IST
1,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","30 DECEMBER, 2023",2:00 PM IST
2,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"Wankhede Stadium, Mumbai","2 JANUARY, 2024",2:00 PM IST
3,INDIA TOUR OF SOUTH AFRICA 2023-24,"Newlands, Cape Town","3 JANUARY, 2024",1:30 PM IST
4,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","5 JANUARY, 2024",7:00 PM IST
5,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","7 JANUARY, 2024",7:00 PM IST
6,AUSTRALIA WOMEN TOUR OF INDIA 2023-24,"DY Patil Stadium, NAVI MUMBAI","9 JANUARY, 2024",7:00 PM IST

In [106]:
driver.quit()

In [107]:
# question 3

In [3]:
driver = webdriver.Chrome()

In [5]:
driver.get('http://statisticstimes.com/')

In [18]:
economy_button = driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
click_button = (economy_button.get_attribute('href'))

In [20]:
driver.get(click_button)

In [21]:
gdp = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]')
gdp.click()

In [44]:
rank = []
rank_data = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]')
for tr in rank_data:
    rank.append(tr.text)
    
state = []
state_data = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]')
for tr in state_data:
    state.append(tr.text)
    
gsdp22_23 = []
gsdp1_data = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]')
for tr in gsdp1_data:
    gsdp22_23.append(tr.text)
    
gsdp21_22 = []
gsdp2_data = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for tr in gsdp2_data:
    gsdp21_22.append(tr.text)
    
share = []
share_data = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]')
for tr in share_data:
    share.append(tr.text)

gdp_total = []
gdp_data = driver.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]')
for tr in gdp_data:
    gdp_total.append(tr.text)
    
GDP_data = pd.DataFrame({"Rank":rank,"State":state,"GSDP2223":gsdp22_23,"GSDP2122":gsdp21_22,"share":share,"GDP":gdp_total})

In [45]:
GDP_data

   Rank                      State   GSDP2223   GSDP2122      share     GDP
0     1                Maharashtra          -  3,108,022  3,108,022  13.24%
1     2                 Tamil Nadu  2,364,514  2,071,286  2,071,286   8.82%
2     3              Uttar Pradesh  2,257,575  1,974,532  1,974,532   8.41%
3     4                  Karnataka  2,241,368  1,962,725  1,962,725   8.36%
4     5                    Gujarat          -  1,937,066  1,937,066   8.25%
..  ...                        ...        ...        ...        ...     ...
61   29          Arunachal Pradesh          -     31,669     31,669   0.16%
62   30                     Sikkim     35,670     31,519     31,519   0.16%
63   31                   Nagaland          -     27,859     27,859   0.14%
64   32                    Mizoram          -     24,293     24,293   0.12%
65   33  Andaman & Nicobar Islands          -      9,209      9,209   0.05%

[66 rows x 6 columns]

In [48]:
driver.quit()

In [49]:

#Question 4

In [50]:
driver = webdriver.Chrome()

In [51]:
driver.get('https://github.com/')

In [53]:
driver.get('https://github.com/trending')

In [80]:
title = []
title_data = driver.find_elements(By.XPATH,'//h2[@class="h3 lh-condensed"]')
for i in title_data:
    title.append(i.text)
    
description = []
desc_data = driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')
for i in desc_data:
    description.append(i.text)

contributors_count = []
contr_data = driver.find_elements(By.XPATH,'//a[@class="Link Link--muted d-inline-block mr-3"][2]')
for i in contr_data:
    contributors_count.append(i.text)
    
language = []
lang_data = driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')
for i in lang_data:
    language.append(i.text)

In [82]:
print(title,description,contributors_count,language)

['Frooodle / Stirling-PDF', 'BartoszJarocki / cv', 'nomic-ai / gpt4all', 'nodejs / undici', 'shadcn-ui / ui', 'apache / hudi', 'microsoft / promptbench', 'Hillobar / Rope', 'karanpratapsingh / system-design', 'DopplerHQ / awesome-interview-questions', 'movie-web / movie-web', 'HuolalaTech / page-spy-web', 'THUDM / ChatGLM3', 'd3george / slash-admin', 'iusztinpaul / hands-on-llms', 'cumulo-autumn / StreamDiffusion', 'xinghaochen / TinySAM', 'Flipper-XFW / Xtreme-Firmware', 'unocss / unocss', 'alibaba-damo-academy / FunASR', 'mouredev / roadmap-retos-programacion', 'ant-design / ant-design-web3', 'jqnatividad / qsv', 'nuxt / nuxt', 'baaivision / Emu'] ['locally hosted web application that allows you to perform various operations on PDF files', 'Print-friendly, minimalist CV page', 'gpt4all: open-source LLM chatbots that you can run anywhere', 'An HTTP/1.1 client, written from scratch for Node.js', 'Beautifully designed components that you can copy and paste into your apps. Accessible. Customizable. Open Source.', 'Upserts, Deletes And Incremental Processing on Big Data.', 'A unified evaluation framework for large language models', 'GUI-focused roop', 'Learn how to design systems at scale and prepare for system design interviews', 'A curated awesome list of lists of interview questions. Feel free to contribute! üéì', 'A small web app for watching movies and shows easily', 'Debug remotely and easily like chrome devtools.', 'ChatGLM3 series: Open Bilingual Chat LLMs | ÂºÄÊ∫êÂèåËØ≠ÂØπËØùËØ≠Ë®ÄÊ®°Âûã', "A modern react admin. It is based on react 18, vite and TypeScript. It's fast !", 'ü¶ñ ùóüùó≤ùóÆùóøùóª about ùóüùóüùó†ùòÄ, ùóüùóüùó†ùó¢ùóΩùòÄ, and ùòÉùó≤ùó∞ùòÅùóºùóø ùóóùóïùòÄ for free by designing, training, and deploying a real-time financial advisor LLM system ~ ùò¥ùò∞ùò∂ùò≥ùò§ùò¶ ùò§ùò∞ùò•ùò¶ + ùò∑ùò™ùò•ùò¶ùò∞ & ùò≥ùò¶ùò¢ùò•ùò™ùòØùò® ùòÆùò¢ùòµùò¶ùò≥ùò™ùò¢ùò≠ùò¥', 'StreamDiffusion: A Pipeline-Level Solution for Real-Time Interactive Generation', 'Official PyTorch implementation of "TinySAM: Pushing the Envelope for Efficient Segment Anything Model"', 'The Dom amongst the Flipper Zero Firmware. Give your Flipper the power and freedom it is really craving. Let it show you its true form. Dont delay, switch to the one and only true Master today!', 'The instant on-demand atomic CSS engine.', 'A Fundamental End-to-End Speech Recognition Toolkit and Open Source SOTA Pretrained Models.', 'Ruta de estudio basada en ejercicios de c√≥digo semanales en 2024 de la comunidad MoureDev para aprender y practicar l√≥gica usando cualquier lenguaje de programaci√≥n.', 'ü•≥ A React components collection for Web3!', 'CSVs sliced, diced & analyzed.', 'The Intuitive Vue Framework.', 'Emu Series: Generative Multimodal Models from BAAI'] ['711', '184', '6,436', '426', '2,026', '2,429', '94', '229', '2,381', '8,039', '461', '216', '819', '54', '168', '374', '10', '501', '705', '233', '161', '39', '52', '4,641', '63'] ['Java', 'TypeScript', 'C++', 'JavaScript', 'TypeScript', 'Java', 'Python', 'Python', 'TypeScript', 'TypeScript', 'Python', 'TypeScript', 'Jupyter Notebook', 'Python', 'Python', 'C', 'TypeScript', 'Python', 'Python', 'TypeScript', 'Rust', 'TypeScript', 'Python']

In [83]:
# question 5

In [5]:
driver = webdriver.Chrome()

In [6]:
driver.get('https:/www.billboard.com/')

In [7]:
charts = driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a')
charts.click()

In [10]:
charts1 = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
charts1.click()

In [99]:
name = []
name_data = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/h3')
for i in name_data:
    name.append(i.text)
    
artist = []
artist_data = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span[1]')
for i in artist_data[::4]:
    artist.append(i.text)
    
lastweek = []
lastweek_data = driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]/span')
for i in lastweek_data[::2]:
    lastweek.append(i.text)
    
peak = []
peak_data = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span[1]')
for i in peak_data[2::4]:
    peak.append(i.text)
    
weeks = []
weeks_data = driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li/span[1]')
for i in weeks_data[3::4]:
    weeks.append(i.text)

In [101]:
chart_data = pd.DataFrame({"Name":name,"Artist":artist,"Lastweek":lastweek,"Peak":peak,"Weeks":weeks})

In [102]:
chart_data

,Name,Artist,Lastweek,Peak,Weeks
0,All I Want For Christmas Is You,Mariah Carey,1,1,64
1,Rockin' Around The Christmas Tree,Brenda Lee,2,1,57
2,Jingle Bell Rock,Bobby Helms,3,3,55
3,Last Christmas,Wham!,4,4,37
4,A Holly Jolly Christmas,Burl Ives,5,4,38
...,...,...,...,...,...
95,Winter Wonderland,Chloe,-,96,1
96,Run For The Hills,Tate McRae,69,69,2
97,Que Onda,Calle 24 x Chino Pacas x Fuerza Regida,92,61,12
98,Great Gatsby,Rod Wave,-,30,13
99,One Of The Girls,"The Weeknd, JENNIE & Lily Rose Depp",-,100,1

In [3]:
# Question 6

In [4]:
driver = webdriver.Chrome()

In [5]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [30]:
name = []
name_data = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in name_data:
    name.append(i.text)
    
author = []
author_data = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in author_data:
    author.append(i.text)
    
volumes = []
volumes_data = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in volumes_data:
    volumes.append(i.text)
    
publisher = []
publisher_data = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in publisher_data:
    publisher.append(i.text)
    
genre = []
genre_data = driver.find_elements(By.XPATH,'//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in genre_data:
    genre.append(i.text)

In [32]:
books = pd.DataFrame({"Book Name":name,"Author":author,"Volumes sold":volumes,"Publisher":publisher,"Genre":genre})

In [33]:
books

,Book Name,Author,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [34]:
driver.quit()

In [35]:
# question 7

In [37]:
driver = webdriver.Chrome()

In [39]:
driver.get('https://www.imdb.com/chart/tvmeter/?ref_=nv_tvv_mptv')

In [87]:
title = []
title_data = driver.find_elements(By.XPATH,'//h3[@class="ipc-title__text"]')
for i in title_data[1:101]:
    title.append(i.text)
    
year = []
year_data = driver.find_elements(By.XPATH,'//div[@class="sc-43986a27-7 dBkaPT cli-title-metadata"]/span')
for i in year_data[::3]:
    year.append(i.text)
    
genre_web = []
web_data = driver.find_elements(By.XPATH,'//span[@class="sc-43986a27-3 bQnSWs cli-title-type-data"]')
for i in web_data:
    genre_web.append(i.text)
    

    
rating = []
rating_data = driver.find_elements(By.XPATH,'//span[@class="sc-43986a27-1 fVmjht"]/div/span')
for i in rating_data:
    rating.append(i.text)

In [89]:
driver.quit()

In [ ]:
# question 8

In [3]:
driver = webdriver.Chrome()

In [4]:
driver.get('https://archive.ics.uci.edu/')

In [11]:
dataset = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
dataset.click()

In [15]:

start = 0
end = 10

In [76]:
name = []
name_dataset = driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in name_dataset:
    name.append(i.text)


type_data = []
typedata= driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]')
for i in typedata[1::4]:
    type_data.append(i.text)
    
data_task = []
task_dataset = driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"]')
for i in task_dataset[3::4]:
    data_task.append(i.text)
    
Attribute_type = []
attribute = driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]')
for i in attribute:
    Attribute_type.append(i.text)

In [77]:
Attribute_type

['Subject Area\nFeature Type\nDate Donated\nViews\nBiology Real 7/1/1988 568.42K']